<div class="row">

	<div class="col-md-4">
		<h3>Sports</h3>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="Aresenal TV" ng-model="products.AresenalTV"> Arsenal TV
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="products.ChelseaTV"> Chelsea TV
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="products.LiverpoolTV"> Liverpool TV
				</label>
			</div>
	
	</div>
	
	<div class="col-md-4">
		<h3>News</h3>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="products.SkyNews"> Sky News
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="products.SkySports"> SKy Sports
				</label>
			</div>
	</div>
				
	<div class="col-md-4"><h3>Basket</h3></div>
	
	{{ products }}
	
	<br><br>
	
	<a class="btn btn-default" href="#/checkout" role="button">Checkout</a>

</div>




